@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade {
  animation: fadeInOut 3s ease-in-out infinite; /* 3s for full fade in and out cycle */
}

.ai{
  color: rgb(173, 202, 237);
}